# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Ignorar arquivos compilados (Bytecode)
*.class

# Ignorar arquivos de contexto do BlueJ
*.ctxt

# Ignorar pacotes e arquivos de log
*.jar
*.war
*.log

# Ignorar pastas de saída de build comuns
bin/
out/

# Ignorar configurações locais do IntelliJ IDEA
.idea/
